@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --main-color: #181b1c;
    --hover-color: #e38d5f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* #background_website-color{
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;   
    background-image: url(https://thomasnguyentailor.com/wp-content/uploads/2021/12/pattern2.png);
    background-color: #35393b;
} */
html{
    font-size: 62.5%;
    color: #fff;
}
body{
    height: 100%;
    margin: 0;
}
.web_body
{
    display: flex;
}
#layer
{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

button{
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}
/* ANIMAION */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }
    
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
    
/* BUTTON-ANIMATION */
/* 
.button{
    position: relative;
    padding: 0;
    width: 10rem;
    height: 4rem;
    border-radius: 0.4rem;
}
.button span{
    position: relative;
    padding: 1rem 1.5rem;
    display: block;
    width: 100%;
    height: 100%;
}
.button:before,
.button:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    transition: all 0.3s ease;
}
.button:before {
    height: 0%;
    width: 0.2rem;
}
.button:after {
    width: 0%;
    height: 0.2rem;
}
.button:hover{
    background-color: transparent;
}
.button:hover:before {
    height: 100%;
}
.button:hover:after {
    width: 100%;
}

 .button span:before,
 .button span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
 }
 .button span:before {
    width: 0.2rem;
    height: 0%;
 }
 .button span:after {
    width: 0%;
    height: 0.2rem;
 }
 .button span:hover:before {
    height: 100%;
 }
 .button span:hover:after {
    width: 100%;
 }
 */
